@font-face{
    font-family: 'Lora';
    src: url(Fonts/Lora-Medium.woff) format(woff);
    font-weight: 500;
}
@font-face{
    font-family: 'Lora';
    src: url(Fonts/Lora-SemiBold.woff) format(woff);
    font-weight: 600;
}
@font-face{
    font-family: 'Lora';
    src: url(Fonts/Lora-Bold.woff) format(woff);
    font-weight: 700;
}

:root{
    position: relative;
    overflow: hidden;
}
body{
    font-family: 'Lora', serif;
    background-color: #001e03;
    margin: -35px 0 0 0;
    padding: 0;
}

#welcome {
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #001e03;
    color: white;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#welcome h1{
    font-size: 4.5rem;
    margin-top: 0;
}
#welcome button{
    width: 25%;
    height: 15%;
    background-color:  #ffb700; 
    border: none;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#welcome button:last-child{
    margin-bottom: 0;
}
#welcome button:hover{
    background-color: #ff7900;
    box-shadow: 0 0 15px #2a1702;
}
svg{
    fill: #000;
    height: 50px;
}

.game{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    row-gap: 10px;
}
.game h1{
    font-size: 3.3rem;
    color: #fff;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    border: none;
    box-shadow: 0 0 10px #001e03;
    margin-bottom: 10px;
    margin-top: -12px;
}
.game-board > div{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    color: white;
    font-weight: 700;
}
.game-board > div:nth-child(-n + 6){
    border-bottom: 11px solid rgb(243, 242, 242)
}
.game-board > div:nth-child(2),
.game-board > div:nth-child(5),
.game-board > div:nth-child(8){
    border-right: 11px solid rgb(243, 242, 242);
    border-left: 11px solid rgb(243, 242, 242);
}

#notify{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0, 18, 25, .9);
    color: #fff;
    margin: 0;
    padding: 0;

}
#notify h2{
    font-size: 3.5rem;
    margin-bottom: 0;
}
#notify h1{
    font-size: 12rem;
    margin: 20px auto 40px;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
.game button{
    width: 25%;
    font-weight: 600;
    border-radius: 15px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 5px rgb(0, 18, 25);
    cursor: pointer;
    background-color:  #ffb700;
    color: #001e03;
    height: 50px;
    box-shadow: 0 0 5px rgb(52, 52, 52);
    margin-bottom: 10px;
}

.game button:hover{
    background-color: #ff7900;
    box-shadow: 0 0 15px #2a1702;
}
.Btns{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 10px;
}
.Btns button{
    background-color:  #ffb700;
    color: #001e03;
    height: 50px;
    width: 20%;
    box-shadow: 0 0 5px rgb(21, 21, 21);
}