body {
    /* font-family: 'Lora', serif; */
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 20px;
    background-color: #001e03
}
h1{
    font-size: 3.5rem;
    color: #fff;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, 130px);
    border: none;
    box-shadow: 0 0 10px #001e03;
}
.game-board > div{
    height: 130px;
    width: 130px;
}
.game-board > div:nth-child(-n + 6){
    border-bottom: 9px solid rgb(243, 242, 242)
}
.game-board > div:nth-child(2),
.game-board > div:nth-child(5),
.game-board > div:nth-child(8){
    border-right: 9px solid rgb(243, 242, 242);
    border-left: 9px solid rgb(243, 242, 242);
}

.game-board > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    font-weight: 700;
}
#notify{
    top: 0;
    left: 0;
    width: 99.9%;
    height: 99.8%;
    border: 1px solid black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0, 18, 25, .9);
    color: #fff;
    margin: 0;
    padding: 0;

}
#notify h2{
    font-size: 3rem;
    margin-bottom: 0;
}
#notify h1{
    font-size: 10rem;
    margin-top: 20px;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}

button {
    width: 20%;
    height: 10%;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 18, 25);
    cursor: pointer;
}